html,body{
    width:100vw;
    height:100vh;
    margin:0%;
}

body{
    background-color: #e0e0e0;
}

header, footer{
    background-color:rosybrown;
}

#hlogo{
    height:60px;
    width:60px;
}

.smimg{
    width:22px;
    height:20px;
}
